#display {
    padding: 35px;

    display: flex;
    flex-direction: column;

    gap: 15px;
}

body {
    background-color: var(--main-background);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.overlay {
    display: none;

    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 100%;

    z-index: 100;

    background-color: var(--main-background);
}

.overlay > div {
    background-color: var(--alt2-background);
    padding: 25px;
    border-radius: 5px;

    min-width: fit-content;
    min-height: fit-content;

    width: 30%;
    display: flex;
    flex-direction: column;

    gap: 5px;

    overflow: auto;

    display: grid;
    grid-template-rows: 50px 1fr;
    height: calc(100vh / 1.8);
}

.overlay > div > h1 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.overlay > div > h4 {
    margin: 5px;
}

.overlay > div div {
    background-color: var(--alt2-background);
    padding: 10px;

    min-width: fit-content;
    min-height: fit-content;

    overflow: auto;
}

.overlay > div div > h3 {
    padding: 15px;
    border-radius: 5px;

    background-color: rgba(var(--default), 0.1);
    color: var(--default-text);
}

.overlay > div div > h3:hover {
    cursor: pointer;
}

.overlay  .button {
    padding: 15px;
}

.overlay  .button.right {
    justify-self: flex-end;
    align-self: flex-end;
}

.overlay  .button.left {
    justify-self: flex-start;
    align-self: flex-start;
}

.courses {
    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 15px;

    box-sizing: border-box;
}

.course {
    box-sizing: border-box;

    padding: 25px;
    border-radius: 7px;

    min-width: 300px;
    min-height: 150px;

    width: fit-content;

    border: 1px solid transparent;
    background-color: rgba(var(--default), 0.1);

    transition: .2s ease transform, background;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.course p {
    font-weight: 100;
}

.course.large {
    max-width: 100%;
    min-height: fit-content;

    /* border: 1px solid transparent; 
    background-color: transparent; */

    height: 100%;
    width: 100%;

    padding: 35px;
}

.course.large h1 {
    font-size: 2em;

    font-weight: 400;
}

.course.large h1 strong {
    font-weight: 400;
}

.course.add {
    text-align: center;
}

.course.add h2 { 
    font-weight: 100;
    font-size: 3em;
    margin: 0;
}

.course.javascript {
    border: 1px solid transparent;
    background-color: rgba(var(--javascript), 0.1);
}

.course.cpp {
    border: 1px solid transparent;
    background-color: rgba(var(--cpp), 0.1);
}

.course.python {
    border: 1px solid transparent;
    background-color: rgba(var(--python), 0.1);
}

.course.html {
    border: 1px solid transparent;
    background-color: rgba(var(--html), 0.1);
}

.course:hover:not(.large) {
    transform: translateY(-5px);
    cursor: pointer;   

    border-color: rgba(var(--default), 0.4);
    background-color: rgba(var(--default), 0.2);
}

.course {
    transition: 0.2s ease all;
}

.course .resume {
    opacity: 0.3;
    display: none;
}

.course:hover:not(.large) .resume{
    display: block;
    opacity: 1;
}

.course.javascript:hover:not(.large) {
    border-color: rgba(var(--javascript), 0.4);
    background-color: rgba(var(--javascript), 0.2);
}

.course.cpp:hover:not(.large) {
    border-color: rgba(var(--cpp), 0.4);
    background-color: rgba(var(--cpp), 0.2);
}

.course.python:hover:not(.large) {
    border-color: rgba(var(--python), 0.4);
    background-color: rgba(var(--python), 0.2);
}

.course.html:hover:not(.large) {
    border-color: rgba(var(--html), 0.4);
    background-color: rgba(var(--html), 0.2);
}

.course  h3{
    margin: 5px;
}

.lang {
    padding: 7px;
    border-radius: 3px;

    background-color: var(--default-sec);
    color: var(--default-main); 

    width: fit-content;
    font-weight: bold;
}

.course.javascript .lang {
    background-color: rgba(var(--javascript), 0.2);
    color: var(--javascript-main); 
}

.course.cpp .lang {
    background-color: rgba(var(--cpp), 0.2);
    color: var(--cpp-main); 
}

.course.python .lang {
    background-color: rgba(var(--python), 0.2);
    color: var(--python-main); 
}

.course.html .lang {
    background-color: rgba(var(--html), 0.2);
    color: var(--html-main); 
}

.package {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.package h4 {
    font-weight: 100;
}

.package_together {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.package_together h3 {
    font-weight: 300;
    font-size: 1em;
}
 
.package_together h4 {
    font-weight: 100;
}

.package_together h5 {
    margin: 0;
}

.progress {
    font-weight: thin;
}

.progress.lang {
    background-color: var(--alt-background) !important;
    color: var(--alt2-background) !important;

    padding: 15px;
    border-radius: 5px;
}

.large.package .progress:hover {
    cursor: pointer;
}

#account {
    background-color: var(--alt3-background);
    margin: 0;

    min-height: 250px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#account_2 {
    background-color: var(--alt3-background);
    margin: 0;

    min-height: 250px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.course_sel {
    background-color: var(--alt-background);
    padding: 15px;
    margin: 15px;

    border-radius: 5px;

    min-width: fit-content;
    width: 75%;

    font-weight: 100;
    color: var(--default-sec);

    display: flex;
    justify-content: space-evenly;
    gap: 5px;

    flex-direction: column;
}

.course.javascript .course_sel {
    background-color: rgba(var(--javascript), 0.3) !important;
}

.course.javascript .course_sel > div {
    color: var(--default-text) !important;
}

.course.cpp .course_sel {
    background-color: var(--cpp-sec) !important;
}

.course.cpp .course_sel > div {
    color: var(--default-text) !important;
}

.course.python .course_sel {
    background-color: var(--python-sec) !important;
}

.course.cpp .course_sel > div {
    color: var(--default-text) !important;
}

.course.html .course_sel {
    background-color: var(--html-sec) !important;
}

.course.html .course_sel > div {
    color: var(--default-text) !important;
}

.course_sel > div.active {
    font-weight: 400;
}

.course_sel > div {
    border-radius: 5px;
    padding: 5px;

    color: var(--main-background);
}

#continue {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    gap: 55px;

    height: fit-content;
}

#continue > div {
    width: 100%;
}

.badges {
    display: flex;
    flex-direction: row;

    gap: 15px;

    display: none;
}

.badge {
    height: 150px;
    width: 150px;

    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.badge img {
    height: 125px;
    width: 125px;
}

.cpp_badge {
    background-image: url("../../art/bronze_badge.png");
}

.python_badge {
    background-image: url("../../art/bronze_badge.png");
}

#continue {
    background-color: var(--alt3-background-light);
    padding: 25px;
    border-radius: 15px;

    box-sizing: border-box;
}

.form {
    display: flex;
    flex-direction: column;

    width: 250px;

    gap: 15px;
}

.form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form_body {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 50px;
}

.toggle {
    display: flex;
    flex-direction: row;
    border-radius: 3px;
    border: 1px solid rgba(var(--default-rgb), 0.2);
}

.toggle h3 {
    padding: 10px;
    margin: 0px;
    border-radius: 3px;

    user-select: none;
}

.toggle h3.active {
    background-color: var(--alt-background);
    color: var(--main-background);
}

.toggle h3:not(.active):hover {
    cursor: pointer;
}

.row {
    display: flex;
    flex-direction: row !important;

    justify-content: space-between;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column !important;

    justify-content: space-between;
    align-items: center;
}

.form_toggle:hover {
    cursor: pointer;
}

#account_info_card_name {
    text-transform: capitalize;
}

.teacher {
    padding: 15px;
    border-radius: 5px;
    background-color: rgba(var(--default), 0.2);
    
    width: 100%;

    box-sizing: border-box;
}

input.teacher {
    font-weight: 200;
    font-size: 1em;

    color: var(--default-text);
}

.teacher div {
    padding: 7px;
    font-size: 1em;
}

.teacher div:hover {
    background-color: rgba(var(--default), 0.3);
    border-radius: 3px;

    cursor: pointer;
}

.gap15 {
    gap: 15px;
}

.course_creator {
    min-height: 345px;
    max-height: fit-content;
}

.course_creator .active.cpp {
    background-color: rgba(var(--cpp), 0.5);
}

.course_creator .active.python {
    background-color: rgba(var(--python), 0.5);
}

.course_creator .active.javascript {
    background-color: rgba(var(--javascript), 0.5);
}

.course_creator .active.html {
    background-color: rgba(var(--html), 0.5);
}

.course_creator div h3:first-of-type {
    margin: 0;
}

.course_creator div h3:last-of-type {
    margin: 0;
}
